body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

}
.navbar{
    width: 100vw;
    height: 80px;
    border: 1px solid yellow;
    display: flex;
    position: fixed;
    background-color: turquoise;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}
.menu{

    width: 50%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
.menu-item{
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-item:hover{
    background-color: teal;
}
.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* border: 1px solid blue; */
    /* background-color: red; */
}
.hero{
    flex: 3;
    width: 70%;
    height: 100%;
    border: 1px solid grey;
}
.tagline{
    display: flex;
    height: 100%;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    /* background-color: sandybrown; */
        background-image: url(https://images.pexels.com/photos/1925536/pexels-photo-1925536.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-size: cover;
}
